<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/about-us.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap"
    />
  </head>
  <body>
    <div class="about-us2">
      <section class="frame-section">
        <div class="frame-child6"></div>
        <header class="header-jecati1">
          <div class="inquire-now2">INQUIRE NOW</div>
          <div class="inquire-now3">INQUIRE NOW</div>
          <div class="header-jecati-item"></div>
          <div class="header-content">
            <div class="ellipse-parent3">
              <div class="frame-child7"></div>
              <img
                class="image-6-icon4"
                loading="lazy"
                alt=""
                src="./public/image-61@2x.png"
              />
            </div>
            <div class="brand-name">
              <h2 class="jecaticonstructionservices4">
                <span>Jecati</span>
                <span class="constructionservices4">ConstructionServices</span>
              </h2>
            </div>
          </div>
          <nav class="navigation">
            <nav class="nav-links">
              <a class="home1" href="/landing-page">Home</a>
              <a class="about-us3" href="/about-us">About us</a>
              <a class="services3">Services</a>
              <a class="contact-us7" href="/contact-us">Contact Us</a>
            </nav>
          </nav>
          <div class="project-title-group">
            <div class="project-title1">
              <a class="projects3">Projects</a>
            </div>
            <button class="btn-inquire1">
              <div class="btn-box1"></div>
              <a class="inquire-now4">INQUIRE NOW</a>
            </button>
          </div>
        </header>
        <div class="about-content-wrapper">
          <div class="about-content">
            <div class="about-details">
              <div class="about-us-wrapper">
                <h1 class="about-us4">About Us</h1>
              </div>
              <h2 class="read-more-about">
                Read more about us. Our mission, vission, success and other you
                might be interested
              </h2>
            </div>
            <div class="home-about">
              <h2 class="home-about1">Home &gt; About</h2>
            </div>
          </div>
        </div>
      </section>
      <section class="services-content-wrapper">
        <div class="services-content">
          <div class="services-details">
            <div class="services-title">
              <div class="what-we-do-title">
                <h1 class="what-we-do">WHAT WE DO</h1>
              </div>
              <div class="services-description">
                <h1 class="jecati-construction-services4">
                  Jecati Construction Services
                </h1>
                <h1 class="who-we-are">Who We Are?</h1>
              </div>
            </div>
          </div>
          <h1 class="established-on-march-container2">
            <p class="established-on-march2">
              Established on March 30, 2017, Jecati began its journey in the
              construction services and rental equipment industry over seven
              years ago. Led by Rygs Tiu, a young visionary with a broad range
              of construction experience, Jecati has built a foundation of
              first-hand expertise in all facets of the industry. Rygs Tiu's
              deep knowledge stems from hands-on experience, having personally
              managed hundreds of projects. His understanding covers everything
              from meticulous cleanup to comprehensive product knowledge,
              forming the simple yet effective business model of "GOOD SERVICE,
              GOOD PRODUCT, and GOOD PRICE."
            </p>
            <p class="blank-line">&nbsp;</p>
            <p class="as-part-of">
              As part of its expansion efforts, Jecati transitioned into a
              corporation on November 9, 2019, becoming Jecati Construction
              Services Inc. During this period, the company earned an excellent
              reputation, frequently handling large projects for local
              authorities, Japanese firms, and construction companies, along
              with smaller jobs for private clients. Today, Jecati employs
              several full-time crews and has established a strong reputation
              for high-quality workmanship, covering the Industrial Economic
              Zone Area and all surrounding areas in Northern and Southern
              Luzon. Maintaining full-time crews is crucial to Jecati to ensure
              consistent quality. By keeping a dedicated staff, Jecati protects
              its customers from the potential pitfalls of third-party
              contractors.
            </p>
            <p class="blank-line1">&nbsp;</p>
          </h1>
          <div class="mission-vision-values">
            <div class="mission-vision-values-items">
              <div class="mission-vision-values-sub-item">
                <button class="mission-vision-values-sub-item1">
                  <div class="mission-vision-values-sub-item-child"></div>
                  <div class="mission">Mission</div>
                </button>
              </div>
              <div class="mission-vision-values-descript">
                <div class="mission-vision-values-descript-child"></div>
                <h1 class="to-offer-value-container">
                  <ul class="to-offer-value-to-our-custome">
                    <li class="to-offer">
                      To offer value to our customers through innovative and
                      quality projects
                    </li>
                    <li class="to-complete-and">
                      To complete and deliver the projects on time each time
                    </li>
                    <li>
                      To ensure sense of belongingness & stability to our
                      employees
                    </li>
                  </ul>
                </h1>
              </div>
            </div>
            <div class="mission-vision-values-items1">
              <div class="mission-vision-values-items-inner">
                <button class="rectangle-container">
                  <div class="frame-child8"></div>
                  <div class="vision">Vision</div>
                </button>
              </div>
              <div class="rectangle-parent1">
                <div class="frame-child9"></div>
                <h1 class="at-jecati-construction-container">
                  <ul class="at-jecati-construction-we-aim">
                    <li>
                      At Jecati Construction, we aim to be the top company
                      transforming dreams into reality with quality, innovation,
                      and sustainability.
                    </li>
                  </ul>
                </h1>
              </div>
            </div>
            <div class="mission-vision-values-items2">
              <div class="mission-vision-values-items-child">
                <button class="frame-button">
                  <div class="frame-child10"></div>
                  <div class="values">Values</div>
                </button>
              </div>
              <div class="rectangle-parent2">
                <div class="frame-child11"></div>
                <h1 class="operate-business-with-container">
                  <ul class="operate-business-with-high-lev">
                    <li class="operate-business-with">
                      Operate business with high level of integrity.
                    </li>
                    <li class="inculcate-quality-in">
                      Inculcate quality in all levels
                    </li>
                    <li>
                      Value time commitments given to customers and complete
                      projects on time, every time
                    </li>
                  </ul>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="customer-content-wrapper">
        <div class="customer-content">
          <div class="customer-details">
            <div class="customer-testimonial">
              <b class="testimonial-one">
                <p class="p8">756+</p>
              </b>
            </div>
            <b class="testimonial-two">07+</b>
          </div>
          <div class="happy-customers-title">
            <h2 class="happy-customers">Happy Customers</h2>
          </div>
        </div>
      </section>
      <div class="about-us-child"></div>
      <section class="experience-content-wrapper">
        <div class="experience-content">
          <div class="years-experience">
            <img class="image-8-icon" alt="" src="./public/image-8@2x.png" />

            <h2 class="years-experience1">Years Experience</h2>
          </div>
          <img
            class="experience-content-child"
            loading="lazy"
            alt=""
            src="./public/rectangle-125.svg"
          />

          <div class="rectangle-parent3">
            <div class="frame-child12"></div>
            <div class="manager-name">
              <h2 class="lets-meet-our">Lets Meet Our Manager</h2>
            </div>
            <h1 class="sir-rygs-tiu">Sir. Rygs Tiu</h1>
          </div>
        </div>
      </section>
      <footer class="navigation-footer2">
        <img
          class="divider-stroke-icon2"
          loading="lazy"
          alt=""
          src="./public/divider-stroke.svg"
        />

        <div class="footer-content2">
          <div class="footer-details1">
            <div class="footer-brand">
              <div class="ellipse-parent4">
                <div class="frame-child13"></div>
                <img
                  class="image-6-icon5"
                  loading="lazy"
                  alt=""
                  src="./public/image-6@2x.png"
                />
              </div>
              <div class="footer-brand-name">
                <h2 class="jecaticonstructionservices5">
                  <span>Jecati</span>
                  <span class="constructionservices5"
                    >ConstructionServices</span
                  >
                </h2>
              </div>
            </div>
            <div class="established-on-march-container3">
              <p class="established-on-march3">
                Established on March 30, 2017, Jecati began its journey in
              </p>
              <p class="the-construction-services2">
                the construction services and rental equipment industry over
              </p>
              <p class="seven-years-ago2">
                seven years ago. Led by Rygs Tiu, a young visionary with a
              </p>
              <p class="broad-range-of2">
                broad range of construction experience, Jecati has built a
              </p>
              <p class="foundation-of-first-hand2">
                foundation of first-hand expertise in all facets of the
                industry.
              </p>
            </div>
            <div class="footer-social">
              <div class="social-icons1">
                <img
                  class="akar-iconsfacebook-fill2"
                  loading="lazy"
                  alt=""
                  src="./public/akariconsfacebookfill@2x.png"
                />
              </div>
              <img
                class="mdigmail-icon2"
                loading="lazy"
                alt=""
                src="./public/mdigmail.svg"
              />

              <div class="telegram-icon">
                <img
                  class="icbaseline-telegram-icon2"
                  loading="lazy"
                  alt=""
                  src="./public/icbaselinetelegram.svg"
                />
              </div>
            </div>
          </div>
          <div class="contact-details-wrapper">
            <div class="contact-details">
              <h2 class="need-construction-services-container2">
                <p class="need-construction-services2">
                  Need construction services? Contact us for more inquiries!
                </p>
              </h2>
              <div class="call-icon">
                <img
                  class="material-symbolscall-icon2"
                  loading="lazy"
                  alt=""
                  src="./public/materialsymbolscall.svg"
                />

                <div class="phone-number5">
                  <div class="div1">
                    <p class="p9">0928 1808 210</p>
                    <p class="p10">0918 9065 202</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="services-list2">
            <div class="services-list-content">
              <h2 class="our-services2">Our Services</h2>
              <div class="services-list-items">
                <div class="services-list-item">
                  <div class="services-list-divider"></div>
                  <div class="concrete-demolition-group">
                    <div class="concrete-demolition4">
                      <span>&gt;</span>
                      <span class="concrete-demolition5">
                        Concrete Demolition</span
                      >
                    </div>
                    <div class="stump-removal4">
                      <span>&gt;</span>
                      <span class="stump-removal5"> Stump Removal</span>
                    </div>
                    <div class="construction-services5">
                      <span>&gt;</span>
                      <span class="construction-services6">
                        Construction Services</span
                      >
                    </div>
                    <div class="transport-equipment4">
                      <span>&gt;</span>
                      <span class="transport-equipment5">
                        Transport Equipment</span
                      >
                    </div>
                    <div class="backhoe-on-hire-container2">
                      <span>&gt;</span>
                      <span class="backhoe-on-hire2"> Backhoe on Hire</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="working-hours-content-wrapper">
            <div class="working-hours-content1">
              <h2 class="working-hours3">Working Hours</h2>
              <div class="working-hours-list1">
                <div class="working-hours-list-item">
                  <div class="working-hours-divider1"></div>
                  <div class="monday-parent">
                    <div class="monday2">Monday:</div>
                    <div class="tuesday2">Tuesday:</div>
                    <div class="wednesday2">Wednesday:</div>
                    <div class="thursday2">Thursday:</div>
                    <div class="friday2">Friday:</div>
                    <div class="saturday2">Saturday:</div>
                    <div class="sunday2">Sunday:</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="copyright">
        <div class="copyright-child"></div>
        <div class="copyright-2024-container2">
          <span>
            <span>Copyright © 2024 </span>
          </span>
          <span class="jecati-construction-services5">
            <span> </span>
            <span class="jecati-construction-services6"
              >Jecati Construction Services
            </span>
          </span>
          <span>powered by TAKDA</span>
        </div>
        <div class="privacy">
          <a class="privacy-policy2">Privacy Policy</a>
        </div>
      </div>
    </div>
  </body>
</html>
