<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jecati Construction Services</title>
    <link rel="stylesheet" href="/about-us.css">
    <link rel="shortcut icon" href="/images/JecatiLogo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<style>
    
</style>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="/images/JecatiLogo.png" alt="Jecati Construction Services Logo">
            </div>
            <h2>Jecati<span>ConstructionServices</span></h2>
            <nav>
                <ul>
                    <li><a href="/landing-page" class="nav-links">Home</a></li>
                    <li><a href="/about-us" class="nav-links">About Us</a></li>
                    <li><a href="/services" class="nav-links">Services</a></li>
                    <li><a href="/contact-us" class="nav-links">Contact Us</a></li>
                    <li><a href="#" class="nav-links">Projects</a></li>
                    <li><button class="inquire-now">INQUIRE NOW</button></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
    <section class="hero">
        <div class="container">
            <h1>About Us</h1>
            <p>Read more about us. Our mission, vision, success and other you might be interested</p>
            <a href="#" class="button">Home > About</a>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <div class="section-title">
                <h2>WHAT WE DO</h2>
                <h1>Jecati Construction Services</h1>
                <h1>Who We Are?</h1>
            </div>
            <p>Established on March 30, 2017, Jecati began its journey in the construction services and rental equipment industry over seven years ago. Led by Rygs Tiu, a young visionary with a broad range of construction experience, Jecati has built a foundation of first-hand expertise in all facets of the industry. Rygs Tiu's deep knowledge stems from hands-on experience, having personally managed hundreds of projects. His understanding covers everything from meticulous cleanup to comprehensive product knowledge, forming the simple yet effective business model of "GOOD SERVICE, GOOD PRODUCT, and GOOD PRICE."</p>
            <p>As part of its expansion efforts, Jecati transitioned into a corporation on November 9, 2019, becoming Jecati Construction Services Inc. During this period, the company earned an excellent reputation, frequently handling large projects for local authorities, Japanese firms, and construction companies, along with smaller jobs for private clients. Today, Jecati employs several full-time crews and has established a strong reputation for high-quality workmanship, covering the Industrial Economic Zone Area and all surrounding areas in Northern and Southern Luzon. Maintaining full-time crews is crucial to Jecati to ensure consistent quality. By keeping a dedicated staff, Jecati protects its customers from the potential pitfalls of third-party contractors.</p>
        </div>
    </section>

    <section class="values">
        <div class="container">
            <div class="value">
                <h3>Mission</h3>
                <ul>
                    <li>To offer value to our customers through innovative and quality projects</li>
                    <li>To complete and deliver the projects on time each time</li>
                    <li>To ensure sense of belongingness & stability to our employees</li>
                </ul>
            </div>
            <div class="value">
                <h3>Vision</h3>
                <ul>
                    <li>At Jecati Construction, we aim to be the top company transforming dreams into reality with quality, innovation, and sustainability.</li>
                </ul>
            </div>
            <div class="value">
                <h3>Values</h3>
                <ul>
                    <li>Operate business with high level of integrity.</li>
                    <li>Inculcate quality in all levels</li>
                    <li>Value commitments time given to customers and complete projects on time, every time</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="stats">
        <div class="container">
            <div class="stat">
                <h2>756+</h2>
                <p>Happy Customers</p>
            </div>
            <div class="stat">
                <h2>07+</h2>
                <p>Years Experience</p>
            </div>
        </div>
    </section>

    <section class="manager">
        <div class="container">
            <div class="section-title">
                <h2>Lets Meet Our Manager</h2>
                <h1>Sir. Rygs Tiu</h1>
            </div>
            <img src="manager.jpg" alt="Rygs Tiu">
        </div>
    </section>
    </main>
    <footer>
        <div class="footer-container">
            <section class="about">
                <div class="container">
                    <div class="logo-section">
                        <img src="/images/jecati-logo-footer.png" alt="Jecati">
                        <h2>Jecati<span>ConstructionServices</span></h2>
                    </div>
                    <p>Established on March 30, 2017, Jecati began its journey in the construction services and rental equipment industry over seven years ago. Led by Rygs Tiu, a young visionary with a broad range of construction experience, Jecati has built a foundation of first-hand expertise in all facets of the industry.</p>
                    <div class="social-section">
                        <ul>
                            <li><img src="/images/facebook.png" alt="Faceboo"></li>
                            <li><img src="/images/gmail.png" alt="Gmail"></li>
                            <li><img src="/images/telegram.png" alt="Telegram"></li>
                        </ul>
                    </div>
                </div>
                </section>
                
            <section class="phone">
                <div class="container">
                <h2>Need construction services? Contact us for more inquiries!</h2>
                <div class="phone-section">
                    <img src="/images/phone.png" alt="Phone">
                    <ul>
                        <li class="phone1">0928 180 8210</li>
                        <li class="phone2">0918 906 5202</li>
                    </ul>
                </div>
                </div>
            </section>
  
            <section class="services">
                <div class="container">
                    <h2>Our Services</h2>
                    <hr class="footer-hr">
                    <ul>
                        <li><span style="color: #999999;">&gt;</span> Concrete Demolition</li>
                        <li><span style="color: #999999;">&gt;</span> Stump Removal</li>
                        <li><span style="color: #999999;">&gt;</span> Construction Services</li>
                        <li><span style="color: #999999;">&gt;</span> Transport Equipment</li>
                        <li><span style="color: #999999;">&gt;</span> Backhoe on Hire</li>
                    </ul>
                </div>
            </section>
  
            <section class="work">
                <div class="container">
                    <h2>Working Hours</h2>
                    <hr class="footer-hr">
                        <ul>
                            <li><span style="color: #999999; font-size: 15px;">Monday-&gt;</span> 08:00AM - 05:00PM</li>
                            <li><span style="color: #999999; font-size: 15px;">Tuesday-&gt;</span> 08:00AM - 05:00PM</li>
                            <li><span style="color: #999999; font-size: 15px;">Wednesday-&gt;</span> 08:00AM - 05:00PM</li>
                            <li><span style="color: #999999; font-size: 15px;">Thursday-&gt;</span> 08:00AM - 05:00PM</li>
                            <li><span style="color: #999999; font-size: 15px;">Friday-&gt;</span> 08:00AM - 05:00PM</li>
                            <li><span style="color: #999999; font-size: 15px;">Saturday-&gt;</span> 08:00AM - 05:00PM</li>
                            <li><span style="color: #999999; font-size: 15px;">Sunday-&gt;</span> Close</li>
                        </ul>
                    </div>
                </section>
        </div>
        <section class="copyright-section">
            <div class="container">
                <p>Copyright &copy; 2024 Jecati Construction Services powered by TAKDA</p>
                <a href="#">Privacy Policy</a>
            </div>
        </section>
    </footer>
</body>
</html>