<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/contact-us.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="contact-us-torn">
      <main class="contact-us5">
        <header class="header-jecati1">
          <div class="header-jecati-inner"></div>
          <div class="main-content">
            <div class="group-div">
              <div class="frame-child3"></div>
              <img
                class="image-6-icon4"
                loading="lazy"
                alt=""
                src="./public/image-61@2x.png"
              />
            </div>
            <div class="company-name">
              <h2 class="jecaticonstructionservices4">
                <span>Jecati</span>
                <span class="constructionservices4">ConstructionServices</span>
              </h2>
            </div>
          </div>
          <div class="navigation-menu1">
            <div class="menu-options">
              <a class="home1">Home</a>
            </div>
            <div class="menu-options1">
              <a class="about-us1">About us</a>
            </div>
            <div class="menu-options2">
              <a class="services2">Services</a>
            </div>
            <div class="menu-options3">
              <a class="contact-us6">Contact Us</a>
            </div>
            <div class="project-title-parent">
              <div class="project-title">
                <a class="projects1">Projects</a>
              </div>
              <button class="btn-inquire1">
                <div class="btn-box2"></div>
                <a class="inquire-now2">INQUIRE NOW</a>
              </button>
            </div>
          </div>
        </header>
        <div class="healthiconsgeo-location-negat2"></div>
        <section class="contact-us-inner">
          <div class="image-jecati-parent">
            <img
              class="image-jecati-icon"
              loading="lazy"
              alt=""
              src="./public/image-3@2x.png"
            />

            <div class="contact-title">
              <h1 class="contact-us7">Contact Us</h1>
              <div class="j-c-t-contact">
                <h1 class="jct-contact2">JCT - Contact</h1>
              </div>
            </div>
          </div>
        </section>
        <section class="form-container-container">
          <div class="form-container1">
            <div class="input-fields3">
              <div class="input-fields-item"></div>
              <div class="booking-form2">
                <h3 class="booking-form3">- BOOKING FORM</h3>
                <h1 class="send-us-message2">Send Us Message</h1>
              </div>
              <div class="input-name2">
                <div class="input-field"></div>
                <input
                  class="name2"
                  name="name"
                  id="name"
                  placeholder="Name*"
                  type="text"
                />

                <img class="input-icon1" alt="" src="./public/group.svg" />
              </div>
              <div class="input-email1">
                <div class="submit1">Submit</div>
                <div class="input-field1"></div>
                <input
                  class="input-email-item"
                  placeholder="Email*"
                  type="text"
                />

                <img
                  class="input-icon2"
                  alt=""
                  src="./public/clarityemailline.svg"
                />
              </div>
              <div class="input-phone1">
                <div class="input-field2"></div>
                <input class="phone2" placeholder="Phone*" type="text" />

                <img class="input-icon3" alt="" src="./public/ggphone.svg" />
              </div>
              <div class="input-address2">
                <div class="input-field3"></div>
                <input class="frame-input" placeholder="Address*" type="text" />

                <img
                  class="input-icon4"
                  alt=""
                  src="./public/mdiaddressmarker.svg"
                />
              </div>
              <div class="input-names">
                <textarea
                  class="textarea-message2"
                  placeholder="Enter your question or message"
                  rows="{9}"
                  cols="{28}"
                ></textarea>
              </div>
              <div class="input-names1">
                <button class="btn-send2">
                  <!-- <div class="btn-sendbox"></div> -->
                  <h1 class="send-message4">
                    <p class="send-message5">Send Message</p>
                  </h1>
                </button>
              </div>
              <div class="social-media1">
                <div class="social-media-item"></div>
                <div class="social-media-icons1">
                  <div class="facebook-icon-container">
                    <img
                      class="icbaseline-facebook-icon2"
                      loading="lazy"
                      alt=""
                      src="./public/icbaselinefacebook.svg"
                    />
                  </div>
                  <div class="facebook-rating1">
                    <div class="rate-us-on-facebook-frame">
                      <h1 class="rate-us-on2">Rate us on Facebook!</h1>
                    </div>
                    <div class="facebook-stars">
                      <img
                        class="material-symbolsstar-icon"
                        loading="lazy"
                        alt=""
                        src="./public/materialsymbolsstar.svg"
                      />

                      <img
                        class="material-symbolsstar-icon1"
                        loading="lazy"
                        alt=""
                        src="./public/materialsymbolsstar.svg"
                      />

                      <img
                        class="material-symbolsstar-icon2"
                        loading="lazy"
                        alt=""
                        src="./public/materialsymbolsstar-2.svg"
                      />

                      <img
                        class="material-symbolsstar-icon3"
                        loading="lazy"
                        alt=""
                        src="./public/materialsymbolsstar.svg"
                      />
                    </div>
                  </div>
                  <img
                    class="material-symbolsstar-icon4"
                    loading="lazy"
                    alt=""
                    src="./public/materialsymbolsstar.svg"
                  />
                </div>
              </div>
            </div>
            <div class="information-container-parent">
              <div class="information-container">
                <div class="information-container-child"></div>
                <div class="information-title">
                  <h3 class="information2">- INFORMATION</h3>
                  <h1 class="get-in-touch-container2">
                    <p class="get-in-touch3">Get In Touch</p>
                  </h1>
                </div>
                <div class="address-container-parent">
                  <div class="address-container1">
                    <div class="address-icon-container1">
                      <div class="frame-div">
                        <div class="frame-child4"></div>
                        <img
                          class="mdiaddress-marker-icon3"
                          loading="lazy"
                          alt=""
                          src="./public/mdiaddressmarker-1.svg"
                        />
                      </div>
                    </div>
                    <div class="address-details1">
                      <h2 class="our-address2">Our address</h2>
                      <div class="lot-25-block2">
                        Lot 25 Block 12 Green Valley Subdivision, San Nicholas
                        III 4102 Bacoor, Cavite
                      </div>
                    </div>
                  </div>
                  <div class="frame-child5"></div>
                </div>
                <div class="email-container-parent">
                  <div class="email-container1">
                    <div class="email-icon-container1">
                      <div class="email-icon-container-child"></div>
                      <img
                        class="clarityemail-line-icon3"
                        loading="lazy"
                        alt=""
                        src="./public/clarityemailline-1.svg"
                      />
                    </div>
                  </div>
                  <div class="email-details1">
                    <h2 class="mail-us-for-container2">
                      <p class="mail-us-for2">Mail us for information</p>
                    </h2>
                    <div class="plukgeoffreylorenztiugmailco2">
                      plukgeoffreylorenztiu@gmail.com
                    </div>
                  </div>
                </div>
                <div class="information-container-item"></div>
                <div class="phone-container-parent">
                  <div class="phone-container1">
                    <div class="phone-icon-container1">
                      <div class="ellipse-parent1">
                        <div class="frame-child6"></div>
                        <img
                          class="ggphone-icon3"
                          loading="lazy"
                          alt=""
                          src="./public/ggphone-1.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="phone-details1">
                    <h2 class="contact-number2">Contact number</h2>
                    <div class="phone-number3">
                      <p class="p8">(+63) 928 1808 210</p>
                      <p class="p9">(+63) 918 9065 202</p>
                    </div>
                  </div>
                </div>
              </div>
              <img
                class="mdiexcavator-icon2"
                loading="lazy"
                alt=""
                src="./public/mdiexcavator.svg"
              />
            </div>
          </div>
        </section>
      </main>
      <div class="navigation-footer1">
        <img
          class="divider-stroke-icon2"
          loading="lazy"
          alt=""
          src="./public/divider-stroke.svg"
        />

        <div class="footer-content2">
          <div class="footer-top1">
            <div class="footer-logo">
              <div class="ellipse-parent2">
                <div class="frame-child7"></div>
                <img
                  class="image-6-icon5"
                  loading="lazy"
                  alt=""
                  src="./public/image-61@2x.png"
                />
              </div>
              <div class="footer-company-name1">
                <h2 class="jecaticonstructionservices5">
                  <span>Jecati</span>
                  <span class="constructionservices5"
                    >ConstructionServices</span
                  >
                </h2>
              </div>
            </div>
            <div class="established-on-march-container2">
              <p class="established-on-march2">
                Established on March 30, 2017, Jecati began its journey in
              </p>
              <p class="the-construction-services2">
                the construction services and rental equipment industry over
              </p>
              <p class="seven-years-ago2">
                seven years ago. Led by Rygs Tiu, a young visionary with a
              </p>
              <p class="broad-range-of2">
                broad range of construction experience, Jecati has built a
              </p>
              <p class="foundation-of-first-hand2">
                foundation of first-hand expertise in all facets of the
                industry.
              </p>
            </div>
            <div class="footer-social-icons">
              <div class="akar-iconsfacebook-fill-wrapper">
                <img
                  class="akar-iconsfacebook-fill2"
                  loading="lazy"
                  alt=""
                  src="./public/akariconsfacebookfill@2x.png"
                />
              </div>
              <img
                class="mdigmail-icon2"
                loading="lazy"
                alt=""
                src="./public/mdigmail.svg"
              />

              <div class="telegram-icon-container">
                <img
                  class="icbaseline-telegram-icon2"
                  loading="lazy"
                  alt=""
                  src="./public/icbaselinetelegram.svg"
                />
              </div>
            </div>
          </div>
          <div class="construction-services4">
            <div class="services-c-t-a">
              <h2 class="need-construction-services-container2">
                <p class="need-construction-services2">
                  Need construction services? Contact us for more inquiries!
                </p>
              </h2>
              <div class="call-button">
                <img
                  class="material-symbolscall-icon2"
                  loading="lazy"
                  alt=""
                  src="./public/materialsymbolscall.svg"
                />

                <div class="phone-number4">
                  <div class="blank-number">
                    <p class="p10">0928 1808 210</p>
                    <p class="p11">0918 9065 202</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="services-container-wrapper">
            <div class="services-container">
              <h2 class="our-services2">Our Services</h2>
              <div class="services-list-container1">
                <div class="services-list3">
                  <div class="services-list-child"></div>
                  <div class="services-offered">
                    <div class="concrete-demolition4">
                      <span>&gt;</span>
                      <span class="concrete-demolition5">
                        Concrete Demolition</span
                      >
                    </div>
                    <div class="stump-removal4">
                      <span>&gt;</span>
                      <span class="stump-removal5"> Stump Removal</span>
                    </div>
                    <div class="construction-services5">
                      <span>&gt;</span>
                      <span class="construction-services6">
                        Construction Services</span
                      >
                    </div>
                    <div class="transport-equipment4">
                      <span>&gt;</span>
                      <span class="transport-equipment5">
                        Transport Equipment</span
                      >
                    </div>
                    <div class="backhoe-on-hire-container2">
                      <span>&gt;</span>
                      <span class="backhoe-on-hire2"> Backhoe on Hire</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="working-hours-container-wrapper">
            <div class="working-hours-container">
              <h2 class="working-hours3">Working Hours</h2>
              <div class="hours-list-container">
                <div class="hours-list">
                  <div class="hours-list-child"></div>
                  <div class="weekdays">
                    <div class="monday2">Monday:</div>
                    <div class="tuesday2">Tuesday:</div>
                    <div class="wednesday2">Wednesday:</div>
                    <div class="thursday2">Thursday:</div>
                    <div class="friday2">Friday:</div>
                    <div class="saturday2">Saturday:</div>
                    <div class="sunday2">Sunday:</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer-details">
        <div class="footer-background"></div>
        <div class="copyright-2024-container1">
          <span>
            <span>Copyright © 2024 </span>
          </span>
          <span class="jecati-construction-services4">
            <span> </span>
            <span class="jecati-construction-services5"
              >Jecati Construction Services
            </span>
          </span>
          <span>powered by TAKDA</span>
        </div>
        <div class="policy-container">
          <a class="privacy-policy1">Privacy Policy</a>
        </div>
      </footer>
    </div>
  </body>
</html>
