<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jecati Construction Services</title>
    <link rel="stylesheet" href="/pricing.css">
    <link rel="shortcut icon" href="/images/JecatiLogo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="/images/JecatiLogo.png" alt="Jecati Construction Services Logo">
            </div>
            <h2>Jecati<span>ConstructionServices</span></h2>
            <nav>
                <ul>
                    <li><a href="/landing-page" class="nav-links">Home</a></li>
                    <li><a href="/about-us" class="nav-links">About Us</a></li>
                    <li><a href="/services" class="nav-links">Services</a></li>
                    <li><a href="/contact-us" class="nav-links">Contact Us</a></li>
                    <li><a href="/pricing" class="nav-links">Pricing</a></li>
                    <li><button class="inquire-now" onclick="inquireNow(popup)">INQUIRE NOW</button></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="body-container">
            <h1>Pricing of Services</h1>
            <hr>
            <h2>Heavy Equipment</h2>
            <section id="service-grid">
                <div class="service-card"> <img src="/images/pc20.png" alt="Excavator">
                    <div class="text-contents">
                        <h3 class="excavator-text">EXCAVATOR</h3>
                        <h3 class="excavator-name">KOMATSU</h3>
                        <h3 class="excavator-name">EXCAVATOR PC 20</h3>
                        <h4>PRICE: <br>
                            P 1200/DAY</h4>
                    </div>
                </div>
                <div class="service-card"> <img src="/images/pc20.png" alt="Excavator">
                    <div class="text-contents">
                        <h3 class="excavator-text">EXCAVATOR</h3>
                        <h3 class="excavator-name">KOMATSU</h3>
                        <h3 class="excavator-name">EXCAVATOR PC 30</h3>
                        <h4>PRICE: <br>
                            P 1200/DAY</h4>
                    </div>
                </div>
                <div class="service-card"> <img src="/images/pc20.png" alt="Excavator">
                    <div class="text-contents">
                        <h3 class="excavator-text">EXCAVATOR</h3>
                        <h3 class="excavator-name">KOMATSU KOMA</h3>
                        <h3 class="excavator-name">EXCAVATOR PC 150</h3>
                        <h4>PRICE: <br>
                            P 1200/DAY</h4>
                    </div>
                </div>
                <div class="service-card"> <img src="/images/pc20.png" alt="Excavator">
                    <div class="text-contents">
                        <h3 class="excavator-text">EXCAVATOR</h3>
                        <h3 class="excavator-name">KOMATSU</h3>
                        <h3 class="excavator-name">EXCAVATOR PC 20</h3>
                        <h4>PRICE: <br>
                            P 1200/DAY</h4>
                    </div>
                </div>
                <div class="service-card"> <img src="/images/pc20.png" alt="Excavator">
                    <div class="text-contents">
                        <h3 class="excavator-text">EXCAVATOR</h3>
                        <h3 class="excavator-name">KOMATSU</h3>
                        <h3 class="excavator-name">EXCAVATOR PC 30</h3>
                        <h4>PRICE: <br>
                            P 1200/DAY</h4>
                    </div>
                </div>
                <div class="service-card"> <img src="/images/pc20.png" alt="Excavator">
                    <div class="text-contents">
                        <h3 class="excavator-text">EXCAVATOR</h3>
                        <h3 class="excavator-name">KOMATSU KOMA</h3>
                        <h3 class="excavator-name">EXCAVATOR PC 150</h3>
                        <h4>PRICE: <br>
                            P 1200/DAY</h4>
                    </div>
                </div>
                <hr>
            </section>
            <h2>Construction</h2>
            <section id="construction-grid">
                <div class="construction-card"> <img src="/images/pc20.png" alt="Excavator">
                    <div class="text-contents">
                        <h3 class="excavator-text">LABOR</h3>
                        <h3 class="excavator-name">LABOR</h3>
                        <h4>PRICE: <br>
                            P 1200/DAY</h4>
                    </div>
                </div>
                <div class="construction-card"> <img src="/images/pc20.png" alt="Excavator">
                    <div class="text-contents">
                        <h3 class="excavator-text">DIESEL</h3>
                        <h3 class="excavator-name">DIESEL</h3>
                        <h4>PRICE: <br>
                            P 1200/DAY</h4>
                    </div>
                </div>
                <div class="construction-card"> <img src="/images/pc20.png" alt="Excavator">
                    <div class="text-contents">
                        <h3 class="excavator-text">DUMPTRUCK</h3>
                        <h3 class="excavator-name">DUMPTRUCK 1</h3>
                        <h4>PRICE: <br>
                            P 1200/DAY</h4>
                    </div>
                </div>
                <div class="construction-card"> <img src="/images/pc20.png" alt="Excavator">
                    <div class="text-contents">
                        <h3 class="excavator-text">DUMPTRUCK</h3>
                        <h3 class="excavator-name">DUMPTRUCK 2</h3>
                        <h4>PRICE: <br>
                            P 1200/DAY</h4>
                    </div>
                </div>
            </section>
        </div>
        <a href="/landing-page">-> Go back to Inquire Page</a>
        <hr>
    </main>
    <footer>
        <div class="footer-container">
            <section class="about">
                <div class="container">
                    <div class="logo-section">
                        <img src="/images/jecati-logo-footer.png" alt="Jecati">
                        <h2>Jecati<span>ConstructionServices</span></h2>
                    </div>
                    <p>Established on March 30, 2017, Jecati began its journey in the construction services and rental
                        equipment industry over seven years ago. Led by Rygs Tiu, a young visionary with a broad range
                        of construction experience, Jecati has built a foundation of first-hand expertise in all facets
                        of the industry.</p>
                    <div class="social-section">
                        <ul>
                            <li><img src="/images/facebook.png" alt="Faceboo"></li>
                            <li><img src="/images/gmail.png" alt="Gmail"></li>
                            <li><img src="/images/telegram.png" alt="Telegram"></li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="phone">
                <div class="container">
                    <h2>Need construction services? Contact us for more inquiries!</h2>
                    <div class="phone-section">
                        <img src="/images/phone.png" alt="Phone">
                        <ul>
                            <li class="phone1">0928 1808 210</li>
                            <li class="phone2">0918 9065 202</li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="services">
                <div class="container">
                    <h2>Our Services</h2>
                    <hr class="footer-hr">
                    <ul>
                        <li><span style="color: #999999;">&gt;</span> Concrete Demolition</li>
                        <li><span style="color: #999999;">&gt;</span> Stump Removal</li>
                        <li><span style="color: #999999;">&gt;</span> Construction Services</li>
                        <li><span style="color: #999999;">&gt;</span> Transport Equipment</li>
                        <li><span style="color: #999999;">&gt;</span> Backhoe on Hire</li>
                    </ul>
                </div>
            </section>

            <section class="work">
                <div class="container">
                    <h2>Working Hours</h2>
                    <hr class="footer-hr">
                    <ul>
                        <li><span style="color: #999999; font-size: 15px;">Monday-&gt;</span> 08:00AM - 05:00PM</li>
                        <li><span style="color: #999999; font-size: 15px;">Tuesday-&gt;</span> 08:00AM - 05:00PM</li>
                        <li><span style="color: #999999; font-size: 15px;">Wednesday-&gt;</span> 08:00AM - 05:00PM</li>
                        <li><span style="color: #999999; font-size: 15px;">Thursday-&gt;</span> 08:00AM - 05:00PM</li>
                        <li><span style="color: #999999; font-size: 15px;">Friday-&gt;</span> 08:00AM - 05:00PM</li>
                        <li><span style="color: #999999; font-size: 15px;">Saturday-&gt;</span> 08:00AM - 05:00PM</li>
                        <li><span style="color: #999999; font-size: 15px;">Sunday-&gt;</span> Close</li>
                    </ul>
                </div>
            </section>
        </div>
        <section class="copyright-section">
            <div class="container">
                <p>Copyright &copy; 2024 Jecati Construction Services powered by TAKDA</p>
                <a href="#">Privacy Policy</a>
            </div>
        </section>
    </footer>
    <div class="popup">
      <input type="text" name="">
      <input type="text" name="">
      <input type="text" name="">
      <input type="text" name="">
      <button class="submit-inquiry" onclick="submitInquiry(popup)">Submit Inquiry</button>
    </div>
</body>
<script type="text/javascript" src="/js/script.js"></script>
</html>