
/* General Styles */
* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    position: relative;
    font-family: 'Inter', sans-serif;
    background-color: #16233f;
    padding-top: 80px; /* Adjust according to the header height */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Header Styles */
header .container {
    width: calc(100% - 3px); /* Adjust the width to allow space for rounded corners */
    background-color: #14213D;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 1.25px; /* Centering the container */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 3D shadow effect */
    box-shadow: 0 5px #999;
}

header .logo img {
    max-height: inherit;
}

header h2 {
    margin-left: 10px;
    flex-grow: 1;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px 15px;
    font-weight: bold;
}

.jecati {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.jecati:hover {
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    margin-left: 20px;
    position: relative;
}

.nav-links {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px 15px;
    font-weight: bold;
}

.nav-links:hover {
    background-color: orange; /* Keep button background white on hover */
}

nav ul li button.inquire-now {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px; /* Make the button round */
    font-weight: bold;
    box-shadow: 0 5px #999; /* Add shadow for 3D effect */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li button.inquire-now:hover {
    transform: scale(1.1);
    box-shadow: 0 8px #666; /* Adjust shadow on hover for deeper effect */
}

nav ul li button.inquire-now:active {
    transform: translateY(4px);
    box-shadow: 0 2px #666; /* Adjust shadow on active for pressed effect */
}

span {
    color: orange;
}

/* Body/Main */
main{
    display: flex;
    height: 2000px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.circle {
    position: absolute;
    top: -260px; /* y coordinate */
    left: -110px; /* x coordinate */
    width: 1562px;
    height: 600px;
    background-color: #14213D;
    border-radius: 70%;
}
.aboutus {
    position: absolute;
    top: 155px; /* y coordinate */
    left: 600px; /* x coordinate */
    margin-bottom: 20px; /* Adjust this value to control the spacing from the bottom */
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 700px;
}

.descriptionone {
    position: absolute;
    top: 210px; /* y coordinate */
    left: 545px; /* x coordinate */
    margin-bottom: 20px; /* Adjust this value to control the spacing from the bottom */
    color: #f0eded;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;

}

.wordone{
    position: absolute;
    top: 267px; /* y coordinate */
    left: 618px; /* x coordinate */
    margin-bottom: 20px; /* Adjust this value to control the spacing from the bottom */
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.wordtwo{
    position: absolute;
    top: 430px; /* y coordinate */
    left: 200px; /* x coordinate */
    margin-bottom: 20px; /* Adjust this value to control the spacing from the bottom */
    color: #FCA311;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.wordthree{
    position: absolute;
    top: 470px; /* y coordinate */
    left: 135px   ; /* x coordinate */
    line-height: 1.0;
    margin-bottom: 10px; /* Adjust this value to control the spacing from the bottom */
    color: #14213D;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

.lineone {
    position: absolute;
    top: 14.5%; /* Adjust this to position the line vertically within the circle */
    left: 55%; /* Adjust this to position the line horizontally within the circle */
    transform: translate(-50%, -50%); /* Center the SVG */
    width: 100%; /* Make SVG take full width of the circle */
    height: auto; /* Adjust height automatically */
}

.descriptiontwo{
    max-width: 1090px;
    position: absolute;
    top: 565px; /* y coordinate */
    left: 135px   ; /* x coordinate */
    line-height: 1.0;
    text-align: justify;
    margin-bottom: 10px; /* Adjust this value to control the spacing from the bottom */
    color: #000000;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    margin: 0 auto;
    line-height: 1.4;
    
}

.descriptionthree{
    max-width: 1090px;
    position: absolute;
    top: 720px; /* y coordinate */
    left: 135px   ; /* x coordinate */
    line-height: 1.0;
    text-align: justify;
    margin-bottom: 19px; /* Adjust this value to control the spacing from the bottom */
    color: #000000;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    margin: 0 auto;
    line-height: 1.4;
}

.roundedrectangle {
    position: absolute;
    top: 1000px;
    left: 210px;
    width: 280px;
    height: 340px;
    background-color: #14213D;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
}
.roundedrectangletwo {
    position: absolute;
    top: 1000px;
    left: 830px;
    width: 280px;
    height: 340px;
    background-color: #14213D;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
}
.roundedrectanglethree {
    position: absolute;
    top: 1000px;
    left:520px;
    width: 280px;
    height: 340px;
    background-color: #14213D;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
}

.roundedrectanglefour {
    position: absolute;
    top: 1685px;
    left:305px;
    width: 680px;
    height: 200px;
    background-color: #14213D;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
}

.rectangle {
    position: absolute;
    top: 962px;
    left: 251px;
    width: 203px;
    height: 35px;
    background-color: #FCA311;
    border: 2px solid #FCA311;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Example padding */
    margin-top: 20px; /* Example margin */
}

.rectangletwo {
    position: absolute;
    top: 962px;
    left: 559px;
    width: 203px;
    height: 35px;
    background-color: #FCA311;
    border: 2px solid #FCA311;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Example padding */
    margin-top: 20px; /* Example margin */
}

.rectanglethree {
    position: absolute;
    top: 962px;
    left: 869px;
    width: 203px;
    height: 35px;
    background-color: #FCA311;
    border: 2px solid #FCA311;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Example padding */
    margin-top: 20px; /* Example margin */
}

.rectanglefour{
    position: absolute;
    top: 1430px;
    left: -20px;
    width: 1370px;
    height: 125px;
    background-color: #C0D3FC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Example padding */
    margin-top: 20px; /* Example margin */
}
.mission{
    position: absolute;
    top: 988px;
    left: 310px;
    margin-bottom: 10px; /* Adjust this value to control the spacing from the bottom */
    color: #14213D;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}
.vision{
    position: absolute;
    top: 988px;
    left: 630px;
    margin-bottom: 10px; /* Adjust this value to control the spacing from the bottom */
    color: #14213D;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}
.values{
    position: absolute;
    top: 988px;
    left: 938px;
    margin-bottom: 10px; /* Adjust this value to control the spacing from the bottom */
    color: #14213D;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.goalimage{
    position: absolute;
    top: 1045px;
    left: 314px;
    width: 75px;
    height: 75px;
}

.eyeimage{
    position: absolute;
    top: 1045px;
    left: 622px;
    width: 75px;
    height: 75px;
}

.diamondimage{
    position: absolute;
    top: 1045px;
    left: 936px;
    width: 75px;
    height: 75px;
}

ul.missionlist{
    max-width: 90;
    position: absolute;
    top: 1155px;
    left: 241px;
    margin-bottom: 10px; /* Adjust this value to control the spacing from the bottom */
    color: #ffffff;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    line-height: 1.6;
    text-align: justify;    
}

.visionlist{    
    max-width: 210px;
    position: absolute;
    top: 1155px;
    left: 560px;
    margin-bottom: 10px; /* Adjust this value to control the spacing from the bottom */
    color: #ffffff;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    line-height: 1.6;
    text-align: justify;
}

.valuelist{    
    max-width: 210px;
    position: absolute;
    top: 1155px;
    left: 865px;
    margin-bottom: 10px; /* Adjust this value to control the spacing from the bottom */
    color: #ffffff;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    line-height: 1.6;
    text-align: justify;
}


hr{
    margin-top: 50px;
    width: 90%;
}
/* Footer */
footer {
    width: 100%;
    background-color: #14213D;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
}

.footer-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 30px;
}
.logo-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.copyright-section {
    font-size: 20px;
    text-align: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #080E1C;
}
.copyright-section .container{
    padding: 20px;
}
.copyright-section .container a{
    text-decoration: none;
    color: white;
}
.phone-section{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.about h2,
.services h2,
.work h2,
.phone h2,
.copyright p {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.about p,
.services ul,
.work ul,
.phone p {
    color: white;
}

.about ul,
.services ul,
.work ul,
.phone ul {
    list-style: none;
    padding: 0;
}

.about .container p,
.services ul li,
.work ul li,
.phone ul li, 
.copyright-section .container p, 
.copyright-section .container a{
    color: white;
    margin-bottom: 5px;
    font-size: 15px;
}
.social-section ul{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.phone .container h2{
    color: orange;
}

.footer-container .container{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.footer-container .container p{
    margin-top: 20px;
}
.footer-hr{
    width: 30%;
    margin: 20px 0 20px 0;
    border: 1px solid orange;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  right: 10%;
  z-index: 100;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    * {
        font-size: 18px;
    }

    .footer-content > div {
        min-width: 100%;
    }

    .footer-content p,
    .footer-content div ul li a{
    font-size: 14px;
    }
    nav ul li button.inquire-now{
     padding: 5px 10px;
    }
}

@media screen and (max-width: 480px) {
    * {
        font-size: 14px;
    }

    .footer-content > div {
        min-width: 100%;
    }
    .footer-content p,
    .footer-content div ul li a{
    font-size: 11px;
    }
    nav ul li button.inquire-now{
        padding: 3px 7px;
       }
}