* {
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    position: relative;
    font-family: 'Inter', sans-serif;
    background-color: white;
}
/* Header */
header .container {
    width: 100%;
    background-color: #14213D;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    position: fixed;
    z-index: 100;
}

header .logo img {
    max-height: inherit;
}

header h2 {
    margin-left: 10px;
    flex-grow: 1;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px 15px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    margin-left: 20px;
    position: relative;
}  

.nav-links {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px 15px;
    font-weight: bold;
}

.nav-links:hover {
    background-color: orange; /* Keep button background white on hover */
}

nav ul li button.inquire-now {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

nav ul li button.inquire-now:hover {
    transform: scale(1.1);
}

span {
    color: orange;
}
/* Body/Main */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
hr{
    margin-top: 50px;
    width: 90%;
}
#services {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

#services .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#services .container h2 {
    color: orange;
    font-weight: bold;
    margin-bottom: 30px;
}

#services .container .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    justify-items: center;
    margin-bottom: 50px;
}

#services .container .services-grid .service-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #14213D;
    box-shadow: 2px 2px 10px 0 grey;
    width: 100%;
    max-width: 300px; /* Ensures cards do not exceed 300px width */
    text-align: center;
}

#services .container .services-grid .service-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

#services .container .services-grid .service-images{
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
}

#services .cta {
    text-align: center;
    margin-top: 20px;
}

#services .cta button {
    padding: 10px 20px;
    background-color: orange;
    color: #14213D;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#services .cta button:hover {
    background-color: #14213D;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

/* Footer */
footer {
    width: 100%;
    background-color: #14213D;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 30px;
}
.logo-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.copyright-section {
    text-align: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color:#080E1C;
}
.copyright-section .container{
    padding: 20px;
}
.copyright-section .container a{
    text-decoration: none;
    color: white;
}
.phone-section{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.about,
.services,
.work,
.phone {
    position: relative;
    flex: 1;
    padding: 0 20px;
}

.about h2,
.services h2,
.work h2,
.phone h2,
.copyright p {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.about p,
.services ul,
.work ul,
.phone p {
    color: white;
}

.about ul,
.services ul,
.work ul,
.phone ul {
    list-style: none;
    padding: 0;
}

.about .container p,
.services ul li,
.work ul li,
.phone ul li, 
.copyright-section .container p, 
.copyright-section .container a{
    color: white;
    margin-bottom: 5px;
    font-size: 15px;
}
.social-section ul{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.phone .container h2{
    color: orange;
}

.footer-container .container{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.footer-container .container p{
    margin-top: 20px;
}
.footer-hr{
    width: 30%;
    margin: 20px 0 20px 0;
    border: 1px solid orange;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  right: 10%;
  z-index: 100;
}
/* Media Queries */
@media screen and (max-width: 768px) {
    * {
        font-size: 18px;
    }

    .footer-content > div {
        min-width: 100%;
    }

    .footer-content p,
    .footer-content div ul li a{
    font-size: 14px;
    }
    nav ul li button.inquire-now{
     padding: 5px 10px;
    }
}

@media screen and (max-width: 480px) {
    * {
        font-size: 14px;
    }

    .footer-content > div {
        min-width: 100%;
    }
    .footer-content p,
    .footer-content div ul li a{
    font-size: 11px;
    }
    nav ul li button.inquire-now{
        padding: 3px 7px;
       }
}